<!DOCTYPE html>

{% block title %}Short URL{% endblock %}

{% block content %}
<html>
  <head>
    <title>Shortened Links</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  </head>
  <body>
    <div class="container text-center my-5">
      <h1 class="mb-3">Shortened URL:</h1>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Shortened URL</th>
          </tr>
        </thead>
        <tbody>
            <tr>
              <div class="short-url-box">
                <td><a href="http://localhost:7778/{{short_url_display}}" class="short-url">http://localhost:7778/{{short_url_display}}</a></td>
              </div>
              <a href="{{url_for('index')}}" class="btn btn-primary mt-3">Back to Home</a>
            </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
{% endblock %}
